@import url("https://db.onlinewebfonts.com/c/2dd509271764ff079832bac8db2c5ac1?family=Filmotype+Austin");
@import url("https://db.onlinewebfonts.com/c/22965a163c28465589b12cbdc395d1d4?family=Minik-Bold");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.8rem;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.page-text p {
  font-family: "Minik-Bold", arial, cursive;
  font-size: 2.7rem;
  margin: 2.4rem 0;
}
h3 {
  font-family: "Minik-Bold", arial, cursive;
  font-weight: bold;
  font-size: 3rem;
}
.container {
  max-width: 100rem;
  margin: 0 auto;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-5 {
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
}
.col-7 {
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
}
.page {
  background: #fff;
  padding: 9rem 15rem;
  margin: 2.5rem 2rem;
  -webkit-box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}
.border-imgs img {
  position: absolute;
  height: 100%;
}
.border-imgs .border-left {
  top: 0;
  left: 0;
}
.border-imgs .border-right {
  top: 0;
  right: 0;
  transform: rotate(180deg);
}
.border-imgs .border-top {
  height: auto;
  width: 80%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}
.border-imgs .border-bottom {
  height: 8rem;
  width: 70%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* .border-imgs .border-right-bottom {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
} */
.section-heading {
  text-align: center;
  margin-bottom: 3rem;
  overflow: hidden;
}
.section-heading h2 {
  background-color: #21253a;
  color: #fff;
  display: inline-block;
  padding: 1rem 7rem;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%);
  clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%); */
  margin: auto;
  font-family: "Filmotype Austin", sans-serif;
  font-size: 2.8rem;
  position: relative;
}

.angel {
  height: 100%;
  width: 6rem;
  background: #fff;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
}
.angel-one {
  left: -4rem;
}
.angel-two {
  right: -4rem;
}
.list {
  list-style: none;
}
.list li {
  font-family: "Minik-Bold", arial, cursive;
  font-size: 2.8rem;
  line-height: 3.6rem;
}

@media (max-width: 900px) {
  .border-imgs img {
    width: 14rem;
  }
}
@media (max-width: 768px) {
  .page {
    border: 0.4rem solid #21253a;
  }
  .border-imgs img {
    display: none;
  }
  .page {
    padding: 5rem 5rem;
  }
}
@media (max-width: 550px) {
  .page {
    padding: 5rem 2.5rem;
    border-image-width: 28px;
    margin: 1.5rem 1rem;
  }
  .section-heading h2 {
    font-size: 2.2rem;
  }
  .page-text p {
    font-size: 2.8rem;
  }
}
